html {
  font-size: 62.5%;
}

body {
  font-family: "PT Serif", "Cinzel", serif, "Dancing Script";
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  line-height: 0;
}

.cmn-section {
  padding-top: 90px;
}

.cmn-title {
  font-size: 6rem;
  text-align: center;
  font-family: "Cinzel", "PT Serif", serif, "Dancing Script";
}

.cmn-title::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  vertical-align: middle;
  background-color: #000;
  margin-right: 10px;
}

.cmn-title::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  vertical-align: middle;
  background-color: #000;
  margin-left: 10px;
}

@media print, screen and (max-width: 768px) {
  .cmn-title {
    font-size: 4rem;
  }
}

.nav_toggle {
  display: block;
  position: fixed;
  width: 65px;
  height: 65px;
  border-radius: 42px;
  -webkit-box-shadow: 1px 2px 15px 5px #ebecef;
          box-shadow: 1px 2px 15px 5px #ebecef;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
  top: 40px;
  right: 30px;
  display: none;
}

@media print, screen and (max-width: 768px) {
  .nav_toggle {
    display: block;
  }
}

.nav_toggle i {
  display: block;
  height: 2px;
  width: 22px;
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.nav_toggle i:nth-child(1) {
  top: 34px;
}

.nav_toggle i:nth-child(2) {
  bottom: 34px;
}

.nav_toggle.show i:nth-child(1) {
  top: 32px;
}

.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}

.header-nav {
  font-family: "Cinzel", "PT Serif", serif, "Dancing Script";
}

.nav-list {
  position: fixed;
  top: 40px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 42px;
  -webkit-box-shadow: 1px 2px 15px 5px #ebecef;
          box-shadow: 1px 2px 15px 5px #ebecef;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: opacity 0.7s ease-out, -webkit-transform 1s;
  transition: opacity 0.7s ease-out, -webkit-transform 1s;
  transition: transform 1s, opacity 0.7s ease-out;
  transition: transform 1s, opacity 0.7s ease-out, -webkit-transform 1s;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  opacity: 1;
}

.nav-list:hover .item:not(:hover) {
  opacity: 0.5;
}

@media print, screen and (max-width: 768px) {
  .nav-list {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    opacity: 0;
  }
}

.nav-list.Telescopic {
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  opacity: 0;
}

.nav-list .item .link {
  display: block;
  padding: 0px 16px;
  color: #000;
  font-size: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.click-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-family: "Cinzel", "PT Serif", serif, "Dancing Script";
}

.click-list:hover .item:not(:hover) {
  opacity: 0.5;
}

.click-list .item {
  margin-top: 10vh;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.click-list .item:first-of-type {
  margin-top: 0;
}

.click-list .item:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.click-list .item .link {
  color: #000;
  font-size: 2rem;
}

.click-nav.show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

body.fixed {
  overflow: hidden;
}

.top {
  background-image: url(../../image/water-1018808_1280.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: "Dancing Script", "Cinzel", "PT Serif", serif;
}

.top-title {
  font-size: 6vw;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media print, screen and (max-width: 768px) {
  .top-title {
    font-size: 8vw;
  }
}

.service {
  position: relative;
}

.service-list-wrapper {
  background-image: url(../../image/laptop-5673901_1280.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 7000px 1000px;
  border-top-right-radius: 7000px 1000px;
  position: relative;
  height: 650px;
}

@media print, screen and (max-width: 768px) {
  .service-list-wrapper {
    height: 350px;
  }
}

.service-list-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  border-top-left-radius: 7000px 1000px;
  border-top-right-radius: 7000px 1000px;
  background-color: #fff;
}

@media print, screen and (max-width: 768px) {
  .service-list-wrapper::after {
    height: 40px;
  }
}

.service-title {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
}

.service-title::before {
  background-color: #fff;
}

.service-title::after {
  background-color: #fff;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 490px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
  max-width: 1100px;
  padding: 0 20px;
}

@media print, screen and (max-width: 768px) {
  .service-list {
    display: block;
    top: 230px;
    max-width: 300px;
  }
}

.service-list .item {
  width: 30%;
  text-align: center;
  margin-right: 30px;
}

.service-list .item:last-of-type {
  margin-right: 0;
}

@media print, screen and (max-width: 768px) {
  .service-list .item:last-of-type {
    margin-right: auto;
  }
}

@media print, screen and (max-width: 768px) {
  .service-list .item {
    width: 100%;
    margin: 40px auto 0;
  }
  .service-list .item:first-of-type {
    margin-top: 0;
  }
}

.service-list .img-wrapper {
  width: 50%;
  margin: 0 auto;
}

.service-list .img {
  border-radius: 50%;
}

.service-list .smartphone-img {
  background-color: #ff9514;
}

.service-list .text {
  margin-top: 10px;
}

.service-list .title {
  font-size: 3rem;
}

.service-list .desc {
  font-size: 1.6rem;
  margin-top: 20px;
}

.works {
  margin-top: 400px;
}

@media print, screen and (max-width: 768px) {
  .works {
    margin-top: 1320px;
  }
}

.works-list {
  margin: 50px auto 0;
  max-width: 1100px;
  padding: 0 20px;
}

@media print, screen and (max-width: 768px) {
  .works-list {
    max-width: 300px;
  }
}

.works-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

@media print, screen and (max-width: 768px) {
  .works-list .item {
    display: block;
    margin-top: 40px;
  }
}

.works-list .item:first-of-type {
  margin-top: 0;
}

.works-list .item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.works-list .item:nth-child(even) .text {
  margin-right: 10px;
}

@media print, screen and (max-width: 768px) {
  .works-list .item:nth-child(even) .text {
    margin-right: 0;
  }
}

.works-list .item:nth-child(odd) .text {
  margin-left: 10px;
}

@media print, screen and (max-width: 768px) {
  .works-list .item:nth-child(odd) .text {
    margin-left: 0;
  }
}

.works-list .img-wrapper {
  width: 50%;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  background-color: #000;
  margin: 0 auto;
}

@media print, screen and (max-width: 768px) {
  .works-list .img-wrapper {
    width: 100%;
  }
}

.works-list .img {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.works-list .img:hover {
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: rotateY(-18deg);
          transform: rotateY(-18deg);
  opacity: 0.8;
  cursor: pointer;
}

.works-list .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 30px;
}

@media print, screen and (max-width: 768px) {
  .works-list .text {
    padding-top: 10px;
  }
}

.works-list .title {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  position: relative;
}

@media print, screen and (max-width: 768px) {
  .works-list .title {
    font-size: 3rem;
  }
}

.works-list .title::after {
  content: attr(data-txt);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 200% 0, 0 200%);
          clip-path: polygon(0 0, 200% 0, 0 200%);
  -webkit-transition: -webkit-clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01);
  transition: -webkit-clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01);
  transition: clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01);
  transition: clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01), -webkit-clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01);
  -webkit-transition: clip-path 0.65s cubic-bezier(0.24, 0.13, 0.26, 1.01);
}

.works-list .title.change::after {
  -webkit-clip-path: polygon(0 200%, 200% 0%, 200% 200%);
          clip-path: polygon(0 200%, 200% 0%, 200% 200%);
}

.works-list .desc {
  font-size: 1.6rem;
  margin-top: 30px;
}

@media print, screen and (max-width: 768px) {
  .works-list .desc {
    font-size: 1.6rem;
    margin-top: 20px;
  }
}

.works-list .desc .sp {
  display: none;
}

@media print, screen and (max-width: 768px) {
  .works-list .desc .sp {
    display: block;
  }
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin: 50px auto 0;
  padding: 0 20px;
}

@media print, screen and (max-width: 768px) {
  .about-wrapper {
    display: block;
    max-width: 300px;
  }
}

.about-img-wrapper {
  max-width: 208px;
}

@media print, screen and (max-width: 768px) {
  .about-img-wrapper {
    max-width: 208px;
    margin: 0 auto;
  }
}

.about-img {
  border-radius: 30px;
}

.about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 100px;
  text-align: center;
}

@media print, screen and (max-width: 768px) {
  .about-text {
    margin-left: 0;
  }
}

.about-text .introduction-text {
  padding-top: 30px;
}

.about-text .introduction-text .introduction-title {
  font-size: 3rem;
  font-family: "Cinzel", "PT Serif", serif, "Dancing Script";
}

.about-text .introduction-text .introduction-desc {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 2;
}

.about-text .education-text {
  padding-top: 30px;
}

.about-text .education-text .education-title {
  font-size: 3rem;
  font-family: "Cinzel", "PT Serif", serif, "Dancing Script";
}

.about-text .education-text .education-desc {
  margin-top: 30px;
  font-size: 1.6rem;
}

.about-catchcopy {
  font-size: 6rem;
  text-align: center;
  margin-top: 50px;
  padding: 0 20px;
  font-family: "Ephesis", "cursive", serif;
  overflow: hidden;
}

@media print, screen and (max-width: 768px) {
  .about-catchcopy {
    font-size: 2.5rem;
  }
}

.about-catchcopy span {
  display: inline-block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.about-catchcopy.-visible span {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.about-catchcopy span:nth-child(2) {
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
}

.about-catchcopy span:nth-child(3) {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}

.about-catchcopy span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
          transition-delay: 0.18s;
}

.about-catchcopy span:nth-child(5) {
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.about-catchcopy span:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.about-catchcopy span:nth-child(7) {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}

.about-catchcopy span:nth-child(8) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}

.about-catchcopy span:nth-child(9) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}

.about-catchcopy span:nth-child(10) {
  -webkit-transition-delay: 0.54s;
          transition-delay: 0.54s;
}

.about-catchcopy span:nth-child(11) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.about-catchcopy span:nth-child(12) {
  -webkit-transition-delay: 0.66s;
          transition-delay: 0.66s;
}

.about-catchcopy span:nth-child(13) {
  -webkit-transition-delay: 0.72s;
          transition-delay: 0.72s;
}

.about-catchcopy span:nth-child(14) {
  -webkit-transition-delay: 0.78s;
          transition-delay: 0.78s;
}

.about-catchcopy span:nth-child(15) {
  -webkit-transition-delay: 0.84s;
          transition-delay: 0.84s;
}

.about-catchcopy span:nth-child(16) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.about-catchcopy span:nth-child(17) {
  -webkit-transition-delay: 0.96s;
          transition-delay: 0.96s;
}
/*# sourceMappingURL=style.css.map */