.top {
  background-image: url(https://placehold.jp/1280x850.png);
  background-position: center;
  background-size: cover;
}
.top-title {
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  font-size: 6vw;
}
.main-title {
}
.sub-title {
}
