.top {
  background-image: url(https://placehold.jp/1280x850.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: "Dancing Script", "Cinzel", "PT Serif", serif;
}
.top-title {
  font-size: 6vw;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.main-title {
}
.sub-title {
}
